.about{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.image_container{
    width: 40%;
    display: grid;
    place-items: center;
    margin-left: 50px;
}

.image_container img{
    width: 434px;
    height: 454px;
}

.cicle{
    width: 415px;
    height: 415px;
    background-color: var(--main-color);
    border-radius: 100%;
    box-shadow: 0px 0px 20px 27px var(--main-color);
}

.text_container{
    width: 60%;
    color: var(--secondary-color);
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title{
    font-size: 35px;
}

.text{
    font-weight: 300;
    font-size: 30px;
}

.container_marker{
    display: flex;
    flex-direction: column;
    gap:15px;
}