.about{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 30px;
    padding: 0px 64px 0px 64px;
}

.image_container{
    width: 40%;
    display: grid;
    place-items: center;
}

.image_container img{
    width: 434px;
    height: 454px;
}

.cicle{
    width: 415px; 
    height: 415px;
    background-color: var(--main-color);
    border-radius: 100%;
    box-shadow: 0px 0px 20px 27px var(--main-color);
}

.text_container{
    width: 60%;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    font-size: 48px;
    font-weight: 400;
    color: #FFF;
}

.text{
    font-size: 20px;
    color: #FFFFFF50;
}

.container_marker{
    display: flex;
    flex-direction: column;
    gap:15px;
}

@media (max-width: 1300px){
    .cicle{
        width: 315px; 
        height: 315px;
    }

    .image_container img{
        width: 334px;
        height: 354px;
    }

    .title{
        font-size: 30px;
    } 

    .text{
        font-size: 16px;
    } 
}

@media (max-width:1024px){
    .cicle{
        width: 285px; 
        height: 285px;
    }

    .image_container img{
        width: 314px;
        height: 334px;
    }

    .title{
        font-size: 28px;
    } 

    .text{
        font-size: 14px;
    }
}

@media (max-width: 900px){
    .image_container{
        display: none;
    }

    .text_container{
        width: 100%;
    }
}

@media (max-width: 640px){
    .about{
        padding: 0px 40px 0px 40px;
    }


    .image_container{
        display: none;
    }

    .text_container{
        width: 100%;
    }

    .text{
        font-size: 14px;
    }

    .title{
        font-size: 24px;
    } 
}