.about{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.image_container{
    width: 40%;
    display: grid;
    place-items: center;

}

.image_container img{
    width: 434px;
    height: 454px;
}

.cicle{
    width: 415px;
    height: 415px;
    background-color: var(--main-color);
    border-radius: 100%;
    box-shadow: 0px 0px 20px 27px var(--main-color);
}

.text_container{
    width: 60%;
}