.contact{
    width: 100%;
    min-height: 80vh;
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    padding: 0px 64px 0px 64px;
    gap:100px;
    justify-content: center;
}

.contact a{
    text-decoration: none;
}

.contact h1{
    width: 1000px; 
    font-size: 64px;
    font-weight: 500;
    color: var(--secondary-color);
}
 
.names{ 
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secondary-color);
    transform: scale(1);
    transition: transform 0.1s;
}

 
.names svg{
    transform: scale(1);
    transition: transform 0.1s;
}

.names:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.names:hover svg{
   transform: scale(1.05);
}

.contact_container{
    display: flex;
    gap: 64px;
}

.icon{
    width: 24px;
    height: 24px;
    fill: var(--secondary-color)
}

.icon_2{
    width: 24px;
    height: 24px;
    stroke: var(--secondary-color);
}

@media (max-width:640px){
    .contact{
        padding: 0px 40px 0px 40px;
    }

    .contact h1{
        width: 100%;
        font-size: 36px;
    }

    .contact_container{
        width: 100%;
        flex-wrap: wrap;
    }

    .icon{
        width: 20px;
        height: 20px;
    }

    .icon_2{
        width: 20px;
        height: 20px;
    }

    .names{
        font-size: 14px;
    }


}