.experience {
  width: 100%;
  height: 100vh;
  padding-left:64px;
  padding-right:64px;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #FFF;
}

.item {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
 
.left {
  display: flex;
  gap: 16px;
  position: relative;
}

.right{
    width: 100%;
    max-width: 600px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 100%;
  margin-top: 6px;
}

.company {
  font-size: 18px;
  font-weight: 600;
}

.role {
  font-size: 15px;
  margin-top: 4px;
}

.date {
  font-size: 14px;
  color: #9ca3af;
  margin-top: 4px;
}

.right ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.right li {
  line-height: 1.6;
}

.divider {
  height: 1px;
  background: #2a2f3a;
  margin-left: 32px;
}

@media (max-width: 640px){
    .experience{
      height: auto;
      padding: 200px 40px 200px 40px;
    }

    .company{
      font-size: 16px;
    }

    .role{
      font-size: 13px;
    }

    .date{
      font-size: 12px;
    }

    .dot{
      width: 15px;
      height: 15px;
      margin-left: 2px;
    }

    .right ul {
      font-size: 14px;
    }

    .item{
      gap: 24px;
    }

}