.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap:40px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title h1{
    font-size: 48px;
    color: #FFF
}  

.techs_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.techs_container h2{
    font-size: 20px;
    font-weight: 300;
}

.techs{
    display: flex;
    gap: 40px;
}