.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap:45px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1{
    font-size: 60px;
    color: var(--secondary-color)
}