.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
} 

.head{
    justify-content: center;
    align-items: center;
}

.min-height{
    min-height: 75%;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}

