 footer{
    width:100%;
    padding-left: 64px;
    padding-right: 64px;
 }

 .footer_container{
    display: flex;
    align-items: center;
    border-top: solid 1px #1A1A1A;
    width: 100%;
    height: 100px;
 } 

 .footer_container span{
    color: var(--secondary-color)
 }