 footer{
    width:100%;
    padding: 0px 64px 0px 64px;
 }

 .footer_container{
    display: flex;
    align-items: center;
    border-top: solid 1px #1A1A1A;
    width: 100%;
    height: 100px;
 } 

 .footer_container span{
    color: var(--secondary-color)
 }


@media (max-width:640px){
   footer{
      padding: 0px 40px 0px 40px;
   }
}