 .footer{
    width:100%;
    display: flex;
 }

 .footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-footer); 
    width: 100%;
    height: 100px;
 }

 .footer_container span{
    color: var(--secondary-color)
 }