.navbar{
    width: 100%;
    display: flex;
    position:fixed;
    backdrop-filter: blur(5px);
    z-index: 2;
}

.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    border-radius: 25px;
    padding-left: 20px; 
    padding-right: 20px;
 
}

.nav_container h1{
    font: "Outfit", sans-serif;
    font-size: 24px;
    color: var(--secondary-color);

}


.lista{
    display: flex;
    gap: 30px;
}

.item{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    list-style: none;
    color: var(--secondary-color);
}
 
.item:hover{ 
    color: var(--main-color);
    cursor: pointer;
    font-weight: bold;

}