.navbar{
    width: 100%;
    display: flex;
    position:fixed;
}

.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-footer); 
    width: 100%;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    width: 55px;
    height: 60px;
}

.lista{
    display: flex;
    gap: 30px;
}

.item{
    display: flex;
    flex-direction: row;
    font-family: Raleway;
    font-size: 35px;
    list-style: none;
    color: var(--items);
    font-weight: bold;
}

.item:hover{ 
    color: var(--main-color);
    cursor: pointer;
}