*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

html,
body,
#root{
  background-color: var(--backgroud);
  height: 100%;
}

:root{
  --backgroud: #00030A;
  --main-color: #578BF2;
  --main-color-back: #578BF230;
  --items: #99B6F2;
  --secondary-color: #D3DFF8;
  --status-green: #49F2BC;
  --status-green-back: #49F2BC30;
  --status-orange: #F2A349; 
  --status-orange-back: #F2A34930; 
  --nav-footer: #515D7669;
}