.card{
    width: 150px;
    height: 150px;
    border: solid 3px var(--main-color);
    border-radius: 100px;
    display: grid;
    place-items: center;
}

.icon{
    width: 60px;
    height: 60px;
    fill: var(--main-color);
} 

.card:hover{
    border: solid 3px var(--secondary-color);
}

.card:hover .icon{
    fill: var(--secondary-color);
}