.card{
    width: 170px;
    height: 170px;
    border: solid 3px var(--main-color);
    border-radius: 45px;
    display: grid;
    place-items: center;
}

.card svg{
    width: 80px;
    fill: #4981F2;
}