.card{
    width: 150px;
    height: 150px;
    border: solid 3px var(--main-color);
    border-radius: 100px;
    display: grid;
    place-items: center;
}

.icon{
    width: 60px;
    height: 60px;
    fill: var(--main-color);
} 

.card:hover{
    border: solid 3px var(--secondary-color);
}

.card:hover .icon{
    fill: var(--secondary-color);
} 

@media (max-width: 1024px){
    .card{
        width: 110px;
        height: 110px;
    }

    .icon{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 640px){
    .card{
        width: 90px;
        height: 90px;
    }

    .icon{
        width: 40px;
        height: 40px;
    }
}