.status{
    background-color: var(--main-color-back);
    width: 165px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    border-radius: 50px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
}

.emoji{
    font-size: 22px;
    font-weight: bold;
} 