.status{
    background-color: #17162520;
    border: solid 1px #2D2B3F;
    min-width: 107px;
    width: fit-content;
    height: 40px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    border-radius: 50px;
    color: var(--secondary-color);
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.point{
    width: 5px;
    height: 5px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}  

@media (max-width: 1024px){
    .status{
        height: 30px;
        font-size: 14px;
    }
}

@media (max-width: 640px){
    .status{
        min-width: 90px;
        height: 25px;
        font-size: 12px;
    }

    .point{
        width: 4px;
        height: 4px;
    }
}